<div *ngIf="pokemons">
  <div class="pokemonsImageContainer" data-cy="pokemonsImageContainer">
    <div *ngFor="let pokemon of pokemons" class="container" cdkDrag>
      <img class="singlePokemonImage" [src]="pokemon.artwork" loading="lazy" [ngClass]="{ 'selected': pokemon.selected }" (click)="showPokemonDetails(pokemon)" alt="" />
      <p >{{pokemon.name}}</p>
    </div>
  </div>
</div>
  <pokemon-single
    [selectedPokemonArtwork]="selectedPokemonArtwork"
    [pokemons]="pokemons"
    [showPokemonDetail]="showPokemonDetail">
  </pokemon-single>
