  <div *ngIf="pokemons">
    <div class="pokemons">
      <div *ngFor="let pokemon of pokemons" class="container" >
        <img [src]="pokemon.artwork" loading="lazy" [ngClass]="{ 'selected': pokemon.selected }" (click)="showMoves(pokemon)" cdkDrag>
        <p >{{pokemon.name}}</p>
      </div>
    </div>
    <button (click)="loadNextPage()">Next</button>
    <span>{{ currentPage }}</span>
    <button (click)="loadPreviousPage()">Previous</button>
  </div>

<div *ngIf="chosenPokemonMoves">
  <div *ngFor="let type of chosenPokemonMoves.pokemon.types">
    <ul>
      <li>
        <h1>{{type.type.name}}</h1>
      </li>
    </ul>
  </div>
    <ul>
    <li *ngFor="let move of chosenPokemonMoves.pokemon.moves">
      {{ move.move.name }}
    </li>
  </ul>
</div>
